.section-filter-buttons{
    @media only screen and (max-width: 767px) {
        padding: 0 10px;
        margin-top: 5px;
    }
    .filter-buttons-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-top: 20px;
        @media only screen and (max-width: 767px) {
            margin-bottom: 0;
            margin-top: 0;
            display: flex;
            justify-content: space-between;
        }
    }
    button{
        border-color: #fff;
        color: #fff;
        margin-left: em(15);
        margin-right: em(15);
        @media only screen and (max-width: 767px) {
            // width: 150px;
            margin-left: 0;
            margin-right: 0;
        }
        &:hover{
            border-color: #fff;
            color: #fff;
        }
        &:active{
            border-color: #fff!important;
            color: #fff!important;
        }
        &:focus{
            border-color: #fff;
            color: #fff;
        }
    }
}