.nav-open{
    overflow: hidden;
}

nav{
    .navbar-toggler-bar {
        @media screen and (max-width: 991px){
            height: 2px!important;
            background-color: #FF8811!important;
            width: 33px!important;
        }
    }
    .logout-button{
        @media screen and (max-width: 991px){
           margin-top: 120px;
        }
    }
    .dropdown-toggle:after{
        display: none!important;
    }
    .user-name-container{
        display: none;
        @media screen and (max-width: 991px){
            display: block;
        }
        padding-left: 27px;
        color: #fff;
        h3{
            margin-bottom: 10px;
        }
    }
    .nav-logo{
        display: none;
        @media screen and (max-width: 991px){
            display: block;
            padding: 0 25px;
            margin-top: 10px;
        }
    }
}